.title {
	margin: 10px;
	font-family: serif;
	font-size: 20px;
}

.text {
	margin-left: 10px;
	font-family: sans-serif;
}

.post li {
	list-style: none;
}

.date {
	font-family: sans-serif;
	font-size: 15px;
}