<div class="container">


  <div class="row">
    <div class="span12">
      <div class="navbar">
      <div class="navbar-inner">
        <a class="brand" href="#">BLOG</a>
        <ul class="nav">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="/">Login</a></li>
          <li><a href="#">Link</a></li>
        </ul>
      </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="span3">
      <div class="well">
      <i class="icon-user"></i>  Welcome <%=@name%> 
    </div>
    </div>
  </div>


  <div class="row">
      <div class="span9">
        <ul>
          <% @posts.each do |post|%>
        <div class="post">
          <div class="title">
            <li> <%=post.title %></li>
            <li class="date"> <%=post.created_at%></li>
            <li> <%=@names%></li>
          </div>
          <li class="text"><%=post.body%></li>
        </div>
          <%end%>
        </ul>

      </div>
 </div>


</div>
