<!DOCTYPE html>
<html lang="en">
<head>
  <!-- 
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/

  -->
  <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">  
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/blog.css">
  <script src="http://code.jquery.com/jquery.js"></script>
  <script src="js/bootstrap.min.js"></script>

  <title></title>
</head>
<body>
  <%= yield %>
</body>
</html>
