<div class="container">
	<div class="row">
		<div class="span12">
			<div class="navbar">
			  <div class="navbar-inner">
			    <a class="brand" href="#">BLOG</a>
			    <ul class="nav">
			      <li class="active"><a href="#">Login</a></li>
			      <li><a href="/home">Home</a></li>
			      <li><a href="#">Link</a></li>
			    </ul>
			  </div>
			</div>
		</div>
  </div>

<div class="row">
	<div class="span9 offset1">
		<div class="hero-unit">


	  <form class="form-horizontal" method="post" action="/post">
		  <div class="control-group">
		    <label class="control-label" for="inputEmail">Email</label>
		    <div class="controls">
		      <input type="text" id="inputEmail" name="user_email"placeholder="Email">
		    </div>
		  </div>
		  <div class="control-group">
		    <label class="control-label" for="inputPassword">Password</label>
		    <div class="controls">
		      <input type="password" id="inputPassword" name="pasword" placeholder="Password">
		    </div>
		  </div>
		  <div class="control-group">
		    <div class="controls">
		      <label class="checkbox">
		        <input type="checkbox"> Remember me
		      </label>
		      <button type="submit" class="btn">Sign in</button>
			</form>

	<!-- Button to trigger modal -->
<a href="#myModal" role="button" class="btn" data-toggle="modal">New User?</a>
 
<!-- Modal -->
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Sign Up!</h3>
  </div>
  <form class="form-horizontal" method="post" action="/new_user">

  <div class="modal-body">

    <p>Enter your info…</p>


		  <div class="control-group">
		    <label class="control-label" for="inputEmail">Name</label>
		    <div class="controls">
		      <input type="text" id="inputEmail" name="user_email"placeholder="Whats your Name?">
		    </div>
		  </div>

		   <div class="control-group">
		    <label class="control-label" for="inputEmail">Email</label>
		    <div class="controls">
		      <input type="text" id="inputEmail" name="user_email"placeholder="Email">
		    </div>
		  </div>

		  <div class="control-group">
		    <label class="control-label" for="inputPassword">Password</label>
		    <div class="controls">
		      <input type="password" id="inputPassword" name="pasword" placeholder="Password">
		    </div>
		  </div></br>
		 
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <button class="btn btn-primary" type="submit">Submit</button>
  </form>
  </div>
</div>
		    </div>
		  </div>
		</form>



	</div>
</div>

</div>